<nav class="bottom-nav">
    <a href="javascript:void(0)" class="nav-item active" onclick="navigateTo('dashboard', this)">
        <i class="fa-solid fa-house"></i>
        <span>Asosiy</span>
    </a>
    <a href="javascript:void(0)" class="nav-item" onclick="navigateTo('tasks', this)">
        <i class="fa-solid fa-list-check"></i>
        <span>Vazifalar</span>
    </a>
    <a href="javascript:void(0)" class="nav-item" onclick="navigateTo('wallet', this)">
        <i class="fa-solid fa-wallet"></i>
        <span>Hamyon</span>
    </a>
    <a href="javascript:void(0)" class="nav-item" onclick="navigateTo('leaders', this)">
        <i class="fa-solid fa-trophy"></i>
        <span>Reyting</span>
    </a>
    <a href="javascript:void(0)" class="nav-item" onclick="navigateTo('referral', this)">
        <i class="fa-solid fa-user-group"></i>
        <span>Takliflar</span>
    </a>
</nav>
