<div class="text-center mt-4">
    <div class="wheel-wrapper">
        <div class="wheel-pointer"></div>
        <canvas id="spin-wheel" class="wheel-canvas" width="300" height="300"></canvas>
    </div>
    <div class="mt-4 px-4">
        <button id="btn-spin-action" class="btn-gold" onclick="spinWheel()">
            <div>AYLANTIRISH</div>
            <div class="btn-gold-subtext" id="next-spin-timer">Keyingi bepul aylantirish: 00:00:00</div>
        </button>
        <div id="timer-countdown-display" class="text-white small mt-2">Bepul replygacha: 00:00:00</div>
    </div>
</div>
